<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/img/logos/DSK-JF-logo.png" />
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css" />
  <!-- toastify -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <!-- style sheets -->
  <link rel="stylesheet" href="/css/general.css" />
  <link rel="stylesheet" href="/css/admin/nav.css" />
  <link rel="stylesheet" href="/css/admin/courses.css" />
  <link rel="stylesheet" href="/css/chatGPT.css" />
  <title>Admin-Users</title>
</head>

<body data-userid="<%= user._id %>">
  <div class="progress" id="PreLoaderBar">
    <div class="indeterminate"></div>
  </div>
  <%- include("./nav.ejs") %>
    <main>
      <header>
        <h1>Courses</h1>
        <button class="new-course btn" id="newCourseBtn">+ New Course</button>
      </header>

      <section class="add-new-course" id="addNewCourse">
        <p style="color: red" id="error"></p>
        <form method="post" id="form">
          <div>
            <label for="Course's Name">Course's Name : </label>
            <input id="courseName" type="text" name="courseName" />
          </div>


          <div>
            <label for="username">Instructor's name :</label>
            <select id="instructorName" name="instructorName">
              <% if (instructors){ %>
                <% instructors.forEach(instructor=> { %>
                  <option data-instructorId="<%= instructor._id %>">
                    <%= instructor.firstName %>
                  </option>
                  <% });} %>
            </select>
          </div>
          <div>
            <button class="btn" id="submit">Add</button>
          </div>
        </form>
      </section>

      <% if (course.length> 0) { %>
        <section class="courses">
          <% course.forEach(c=> { %>

            <a id="anchor" href="/admin/<%= user._id %>/courses/<%= c._id %>">
              <article class="card">
                <div class="image">
                  <img src="<%= c.coverPic %>" alt="cover picture" />
                </div>
                <div class="article-body">
                  <h2>
                    <%= c.title %>
                  </h2>
                </div>
              </article>
            </a>

            <% }); %>
        </section>
        <% } else { %>
          <div>
            <p>no courses to show</p>
          </div>
          <% } %>
            <div class="pagination">
              <ul>
                <% const number=Math.ceil(coursesLength / coursesPerPage) || 0 %>
                  <%for(let i=0; i < number; i++) { %>
                    <li><a value="<%=i+1 %>" href="?p=<%=i %>">
                        <%=i+1 %>
                      </a></li>
                    <% } %>
              </ul>
            </div>
            <script type="module">
              const menu = document.getElementById("addNewCourse");
              const newCourseBtn = document.getElementById("newCourseBtn");

              newCourseBtn.addEventListener("click", () => {
                menu.classList.toggle("activee");
              });

              document.addEventListener("dblclick", function (e) {
                if (
                  menu.classList.contains("activee") &&
                  !menu.contains(e.target) &&
                  !newCourseBtn.contains(e.target)
                ) {
                  menu.classList.remove("activee");
                  document.getElementById("form").reset();
                }
              });

              // << Start >> form Validation
              import { validateForm } from "/js/formValidation.js";
              const form = document.getElementById("form");
              const error = document.getElementById("error");

              form.addEventListener("submit", async (e) => {
                e.preventDefault();

                error.style.color = "red";
                const errorMsg = validateForm(form);
                if (errorMsg) return (error.innerHTML = errorMsg);

                try {
                  const res = await fetch("/admin/courses", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                      title: document.getElementById("courseName").value,
                      instructorId:
                        document.getElementById("instructorName").options[
                          document.getElementById("instructorName").selectedIndex
                        ].dataset.instructorid,
                    }),
                  });
                  const data = await res.json();
                  if (data.msg) {
                    error.style.color = "green";
                    error.innerHTML = "Added";
                    location.reload();
                  } else if (data.err) location.assign("/error");
                } catch (err) {
                  location.assign("/error");
                }
              });
        // << End >> form Validation
            </script>
            <%- include("../chatGPT.ejs") %>
    </main>
    <!-- processing bar -->
    <script>
      document.onreadystatechange = function () {
        if (document.readyState === "complete") {
          console.log(document.readyState);
          document.getElementById("PreLoaderBar").style.display = "none";
        }
      };
    </script>
</body>

</html>