<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="/img/logos/DSK-JF-logo.png" />
  <!-- font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- toastify -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  <!-- style sheets -->
  <link rel="stylesheet" href="/css/general.css" />
  <link rel="stylesheet" href="/css/instructor/nav.css" />
  <link rel="stylesheet" href="/css/instructor/inner-course.css" />
  <link rel="stylesheet" href="/css/instructor/addProject.css" />

  <title>
    <%= course.title %>
  </title>
</head>

<body data-userid="<%= user._id %>" data-courseid="<%= course._id %>">
  <%- include("./partials/nav.ejs") %>
    <main>
      <%- include("./partials/inner-course-header.ejs") %>
        <section class="display">
          <div class="add-project">
            <div class="add-project-form" id="project">
              <form id="form">
                <fieldset>
                  <legend><span class="number">1</span> Submission Info</legend>

                  <label for="name">Submission title:</label>
                  <input type="text" id="name" />

                  <label for="deadline">Deadline:</label>
                  <input type="date" id="deadline" />
                </fieldset>
                <fieldset>
                  <legend>
                    <span class="number">2</span> Submission details
                  </legend>

                  <label for="description">Description:</label>
                  <textarea id="description" name="description" style="resize: none; height: 150px;"></textarea>
                </fieldset>
                <button type="submit" id="submit">Submit</button>
                <button type="reset" id="clear">Clear</button>
              </form>
            </div>
          </div>
        </section>
        <a class="returnToCourse" href="/instructor/<%= user._id %>/<%= course.id %>"><i
            class="fa-solid fa-backward"></i>
          Return to
          course</a>
    </main>

    <!-- editable title -->
    <script>
      function adjustInputWidth() {
        const input = document.getElementById("title");
        input.style.width = (input.value.length + 1) * 19 + "px";
      }

      function editTitle() {
        const courseTitle = document.getElementById("title");
        if (courseTitle.hasAttribute("readonly")) {
          courseTitle.removeAttribute("readonly");
          courseTitle.style.borderBottom = "1px solid black";
        } else {
          courseTitle.setAttribute("readonly", "true");
          courseTitle.style.borderBottom = "none";
        }
      }
    </script>

    <script>
      const menu2 = document.getElementById("menu");
      const newUserBtn = document.getElementById("add");

      newUserBtn.addEventListener("click", () => {
        menu2.classList.toggle("activee");
      });

      document.addEventListener("dblclick", function (e) {
        if (
          menu2.classList.contains("activee") &&
          !menu2.contains(e.target) &&
          !newUserBtn.contains(e.target)
        ) {
          menu2.classList.remove("activee");
          document.getElementById("form").reset();
        }
      });
    </script>

    <script>
      document.getElementById("form").addEventListener("submit", async () => {
        try {
          const res = await fetch("/instructor/addSubmission", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              title: document.getElementById("name").value,
              deadLine: document.getElementById("deadline").value,
              description: document.getElementById("description").value,
              courseID: "<%= course._id %>",
            }),
          });

          const data = await res.json();
          if (data.msg) {
            return Toastify({
              text: "added successfully ",
              duration: 3000,
              gravity: "top",
              close: false,
              backgroundColor: "green",
            }).showToast();
            location.reload();
          } else location.assign("/error");
        } catch (err) {
          console.log(err);
          location.assign("/error");
        }
      });
    </script>
</body>

</html>