<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/img/logos/DSK-JF-logo.png" />
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- toastify -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <!-- style sheets -->
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/instructor/nav.css" />
    <link rel="stylesheet" href="/css/instructor/inner-course.css" />
    <title><%= course.title %></title>
  </head>
  <body data-userid="<%= user._id %>" data-courseid="<%= course._id %>">
    <%- include("./nav.ejs") %>
    <main>
      <section>
        <div class="title">
          <div>
            <input
              type="text"
              id="title"
              value="<%= course.title %>"
              oninput="adjustInputWidth()"
              readonly
            />
            <i class="fa-solid fa-pencil pencil" onclick="editTitle()"></i>
          </div>
          <div class="menu-container">
            <button class="btn add" id="add">+ Add / Edit</button>
            <div class="menu" id="menu">
              <ul>
                <li><a href="">Link</a></li>
                <li><a href="">File</a></li>
                <li><a href="">Submission</a></li>
                <li><a href="">Project</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="display">
        display all course content
      </section>
    </main>

    <!-- editable title -->
    <script>
      function adjustInputWidth() {
        const input = document.getElementById("title");
        input.style.width = (input.value.length + 1) * 19 + "px";
      }

      function editTitle() {
        const courseTitle = document.getElementById("title");
        if (courseTitle.hasAttribute("readonly")) {
          courseTitle.removeAttribute("readonly");
          courseTitle.style.borderBottom = "1px solid black";
        } else {
          courseTitle.setAttribute("readonly", "true");
          courseTitle.style.borderBottom = "none";
        }
      }
    </script>

    <script>
      const menu2 = document.getElementById("menu");
      const newUserBtn = document.getElementById("add");

      newUserBtn.addEventListener("click", () => {
        menu2.classList.toggle("activee");
      });

      document.addEventListener("dblclick", function (e) {
        if (
          menu2.classList.contains("activee") &&
          !menu2.contains(e.target) &&
          !newUserBtn.contains(e.target)
        ) {
          menu2.classList.remove("activee");
          document.getElementById("form").reset();
        }
      });
    </script>
  </body>
</html>
