<section>
  <div class="title">
    <div>
      <input type="text" id="title" value="<%= course.title %>" oninput="adjustInputWidth()" readonly />
      <i class="fa-solid fa-pencil pencil" onclick="editTitle()"></i>
    </div>
    <div class="menu-container">
      <button class="btn add" id="add">+ Add / Edit</button>
      <div class="menu" id="menu">
        <ul>
          <li><a href="/instructor/<%= user._id %>/<%= course._id %>/addLink">Link</a></li>
          <li><a href="/instructor/<%= user._id %>/<%= course._id %>/addFile">File</a></li>
          <li><a href="/instructor/<%= user._id %>/<%= course._id %>/addSubmission">Submission</a></li>
          <li><a href="/instructor/<%= user._id %>/<%= course._id %>/addProject">Project</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>