<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>student / CourseInner</title>
    <!-- font-awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/student/nav.css" />
    <link rel="stylesheet" href="/css/admin/couresInner.css" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />

    <script
      src="https://kit.fontawesome.com/0b0cd0c012.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div class="progress" id="PreLoaderBar">
      <div class="indeterminate"></div>
    </div>
    <%- include("./partials/nav.ejs") %>
    <main>
      <section id="course-inner">
        <div class="overview">
          <img class="course-img" src="<%= course.coverPic %>" alt="" />
          <div class="course-head">
            <div class="c-name">
              <h2><%= course.title %></h2>
              <p>
                Numbers of students Enrolled : <%= course.numberOfStudents%>
              </p>
            </div>
          </div>
          <section>
            <h3>Instructor</h3>
            <div class="tutor">
              <img src="<%= instructor.profilePic %>" alt="" />
              <div class="tutor-det">
                <h5><%= instructor.firstName %> <%= instructor.lastName %></h5>
              </div>
            </div>
          </section>
          <section>
            <h3>Course Overview</h3>
            <p><%= course.description %></p>
          </section>
        </div>
        <section>
          <% if (students.length) {%>
          <table>
            <tr>
              <th></th>
              <th>Name</th>
              <th>Add</th>
            </tr>

            <% students.forEach(item=> { %>
            <tr class="user" id="user">
              <td>
                <input type="checkbox" class="checkbox" />
                <div class="right-and-wrong" style="display: none">
                  <i
                    class="fa-solid fa-check"
                    style="color: green; cursor: pointer"
                  ></i>
                  <i
                    class="fa-solid fa-xmark"
                    style="color: red; cursor: pointer"
                  ></i>
                </div>
              </td>
              <td>
                <div class="container">
                  <input
                    type="text"
                    value="<%= item.firstName + ' ' + item.lastName %>"
                    readonly
                  />
                </div>
              </td>
              <td>
                <a href="/admin/<%= course._id %>/addStudent/<%= item._id %>"
                  >Add</a
                >
              </td>
            </tr>
            <% }); %>
          </table>
          <% } %>
        </section>
      </section>
    </main>
    <script type="module">
      const menu = document.getElementById("addNewCourse");
      const newCourseBtn = document.getElementById("newCourseBtn");

      newCourseBtn.addEventListener("click", () => {
        menu.classList.toggle("activee");
      });

      document.addEventListener("dblclick", function (e) {
        if (
          menu.classList.contains("activee") &&
          !menu.contains(e.target) &&
          !newCourseBtn.contains(e.target)
        ) {
          menu.classList.remove("activee");
          document.getElementById("form").reset();
        }
      });

      // << Start >> form Validation
      import { validateForm } from "/js/formValidation.js";
      const form = document.getElementById("form");
      const error = document.getElementById("error");
      const addStudentButton = document.getElementsByClassName("addStudent");

      Array.from(addStudentButton).forEach((button) => {
        const studentId = button.dataset.studentid;
        form.addEventListener("submit", async (e) => {
          e.preventDefault();
          error.style.color = "red";
          const errorMsg = validateForm(form);
          console.log(studentId);
          if (errorMsg) return (error.innerHTML = errorMsg);
          // start Add Student
          try {
            const res = await fetch(
              "/courses/<%= course.id%>/addstudent/" + studentId,
              {
                method: "PUT",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                  courseId: "<%= course._id %>",
                  studnetId: studentId,
                }),
              }
            );
            const data = await res.json();
            if (data.msg) {
              error.style.color = "green";
              error.innerHTML = "Added";
              location.reload();
            } else if (data.err) location.assign("/error");
          } catch (err) {
            console.log(err);
            location.assign("/error");
          }
        });
      });

      // << End >> form Validation
    </script>
    <!-- processing bar -->
    <script>
      document.onreadystatechange = function () {
        if (document.readyState === "complete") {
          console.log(document.readyState);
          document.getElementById("PreLoaderBar").style.display = "none";
        }
      };
    </script>
  </body>
</html>
